.advantages {
    background-color: #f6f6f6;
    padding: 70px 0 65px 0;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 270px;
        text-align: center;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        margin-top: 35px;
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin-top: 20px;
        a {
            color: $main-color;
        }
    }
    &__icons {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}