@import '../base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

body {
    margin: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import '../blocks/promo';
@import '../blocks/header.scss';
@import '../blocks/buttons.scss';
@import '../blocks/advantages.scss';
@import '../blocks/title.scss';
@import '../blocks/consultation.scss';
@import '../blocks/forms.scss';
@import '../blocks/carousel.scss';
@import '../blocks/media.scss';