@import '../libs/bootstrap-reboot.min';
@import '../libs/fonts';
@import '../libs/slick';
@import '../base/variables';
@import '../base/animations.scss';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

body {
    margin: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
	
}

@import '../blocks/promo';
@import '../blocks/header.scss';
@import '../blocks/buttons.scss';
@import '../blocks/advantages.scss';
@import '../blocks/title.scss';
@import '../blocks/consultation.scss';
@import '../blocks/forms.scss';
@import '../blocks/carousel.scss';
@import '../blocks/catalog.scss';
@import '../blocks/reviews.scss';
@import '../blocks/footer.scss';
@import '../blocks/modal.scss';
@import '../blocks/pageup.scss';
@import '../blocks/media.scss';